<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="index.html">
    <label for="name">Enter the Name:</label>
    <input type="text" id="name"><br>

    <label for="Mobile">Mobile Number:</label>
    <input type="number" id="Mobile"><br>

    <label for="address">Enter Address/PO Box:</label>
    <textarea name="address" id="address" cols="20" rows="5"></textarea><br>

    <label for="radio">Gender</label>
    <input type="radio" value="male" name="Gender">
    <input type="radio" value="female" name ="Gender">
    <input type="radio" value="Transgender" name ="Gender"><br>

    <label for="select">Select your Subject Preference:</label>
    <select>
        <Option value="1">Maths</Option>
        <option value="2" selected="selected" >Physics</option>
        <option value="3">Chemistry</option>
    </select>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    <button type="button">Just Click Button</button>
    </form>
    <div style="background-color: cornflowerblue;" style="background: darkcyan;">
        <h1>Form Design-With Division</h1>
        <span>Lorem ipsum dolor sit                sit totam molestias.</span>
        <p>Lorem ipsum dolor sit                sit totam molestias.</p>
        <pre>Lorem ipsum dolor sit                sit totam molestias.</pre>
    </div>
    <video src="" width="230" height="100" controls></video>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8761.196584157717!2d54.380969946913694!3d24.491765152624957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e6650e85f66f9%3A0x735d28e425d8f2f4!2sAbu%20Dhabi%20Mall!5e0!3m2!1sen!2sae!4v1610210172142!5m2!1sen!2sae" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</body>
</html>